@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');






.navbar {
    text-align: center;
    justify-content: space-between;
}

.burger {
    display: none;
}


.menu {
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}

.menu li a {
    font-size: 20px;
    
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
}

.menu li.active a {
    background-color: #0060ce;
}

.section {
    width: 100vw;
    height: 100vh;
    margin-top: 5%;
    margin-bottom: 50px;
}

.pp-tableCell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.section:nth-child(1) {
    background-color: blanchedalmond;
}

.section:nth-child(2) {
    background-color: violet;
}

.section:nth-child(3) {
    background-color: aliceblue;
}

.section:nth-child(4) {
    background-color: lightblue;
}

.section:nth-child(5) {
    background-color: lightcoral;
}



.section .profile-pic {
    margin: 150px 0;
    margin-bottom: 300px;
    padding-right: 200px; 
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 50px;
    margin-left: 150px;
    background-color: #4682b4;
}

.section .profile-pic img {
    
    height: 400px;
    width: 400px;
}

.section h1 {
    display: block;
    font-size: 50px;
    line-height: 100pt;
    margin-bottom: 0;
    margin-top: -5em;
    margin-left: 2em;
    margin-right: 0.5em;
    color: black;
    font-weight: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}

.section h1 span {
    
    color: black;
    font-size: 70px;
    font-weight: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section .p1 {
    border-style: solid;
    max-width: 70%;
    position: relative;
    
    left: 500px;
    
}

.section .p1 p{
    color: black;
    padding: 0 50px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 30pt;
    text-align: justify;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.theme {
    margin: 0;
    position: relative;
    top: 50px;
    right: 700px;
    
}

.theme h1{
    font-size: 20px;
    position: relative;
    top: 20px;
    right: 200px;
}

.theme p {
    text-align: center;
    font-size: 20px;
    position: relative;
    right: 200px;
}



.copyright{
    
    position: relative;
    top: 220px;
    right: 0;
    left: -100px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.copyright1{
    position: relative;
    top: 350px;
    right: 10px;
    font-size: 20px;
    color: white;
}

.copyright3{
    position: relative;
    top: 330px;
    left: 400px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.copyright4 {
    position: relative;
    top: 320px;
    font-size: 20px;
    left: 90px;
    font-weight: bold;
}





.sm {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: transparent;
}





.social{
    position: relative;
    left: 20px;
    top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 70px;
    color: red;
    background-color: white;
    border-radius: 20%;
    margin-right: 70px;
}

.social1{
    position: relative;
    top: 10px;
    left: 70px;
    margin-right: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    background-color: #3b5998;
    color: white;
}

.social2{
    position: relative;
    left: 120px;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 40px;
    color: #fff;
    font-size: 70px;
    line-height: 100px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}


.social:hover{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image: linear-gradient(to left, #1290cb, #0652dd);
    color: white;
    border: none;
}

.social1:hover{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image: linear-gradient(to left, #1290cb, #0652dd);
    color: white;
    border: none;
}

.social2:hover{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image: linear-gradient(to left, #1290cb, #0652dd);
    
    border: none;
}



.section .word3 { 
    position: relative;
    
    left: 900px;
    padding-top: 350px;
    padding-left: 5px;
    padding-right: 50px;  
}

.scroll-text {
    color: white;
    position: relative;
    top: 80px;
    right: 400px;
    font-size: 25px;
}

.scroll-text1 {
    color: white;
    position: relative;
    top: 200px;
    right: 400px;
    font-size: 25px;
}


.section .word3 h1{
    color: black;
}

.section .resume-link {
    position: relative;
    top: 150px;
    
    right: 800px;
}

.section .resume-link .btn-resume {
    
    background-color: #c0c0c0;
    color: black;
    font-size: 20px;
    
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    
    
}


.container .input-fields {
    position: relative;
    top: 10px;
    left: 50px;
    
}


.input-fields,
.msg{
    position: relative;
    left: 50px;
    width: 100%;
    color: black;
}

.section .container .msg .btn {
    color: black;
    background-color: white;
    position: relative;
    bottom: 20px;
    left: 250px;
    font-size: 20px;
}

.input-fields .input,
.msg textarea{
    margin: 30px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid black;
    padding: 12px;
    color: black;
    width: 100%;
    font-weight: 500;
}

.copyright2 {
    position: relative;
    top: 300px;
    left: 950px;
    font-size: 20px;
    color: black;
}

.msg textarea{
    height: 150px;
}

.section .container .subtitle {
    position: relative;
    top: 50px;
    right: 400px;
    font-size: 50px;
}



@media (max-width: 1440px){
    

    .profile-pic img{
        height: 150px;
        width: 150px;
    }

    .section #page1 h1{
        font-size: 10px;
    }

    .copyright{
        font-size: 10px;
    }

    .p1 p{
        font-size: 10px;
    }

    .theme p{
        font-size: 10px;
    }

    .theme h1{
        font-size: 10px;
    }

    .copyright4{
        font-size: 10px;
    }

    .word3 h1{
        font-size: 10px;
    }

    .scroll-text,
    .scroll-text1{
        display: none;
    }

    .resume-link{
        position: relative;
        top: 150px;
        right: 800px;
    }

    .section .resume-link .btn-resume {
        background-color: #c0c0c0;
        color: black;
        font-size: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .copyright1{
        font-size: 10px;
    }

    .sm {
        text-align: center;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        background-color: transparent;
    }
    
    
    
    
    
    .social{
        position: relative;
        left: 20px;
        top: 16px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 70px;
        color: red;
        background-color: white;
        border-radius: 20%;
        margin-right: 70px;
    }
    
    .social1{
        position: relative;
        top: 10px;
        left: 70px;
        margin-right: 70px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 50px;
        background-color: #3b5998;
        color: white;
    }
    
    .social2{
        position: relative;
        left: 120px;
        display: inline-block;
        width: 100px;
        height: 100px;
        text-align: center;
        border-radius: 40px;
        color: #fff;
        font-size: 70px;
        line-height: 100px;
        vertical-align: middle;
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }
    
    
    .social:hover{
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-image: linear-gradient(to left, #1290cb, #0652dd);
        color: white;
        border: none;
    }
    
    .social1:hover{
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-image: linear-gradient(to left, #1290cb, #0652dd);
        color: white;
        border: none;
    }
    
    .social2:hover{
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-image: linear-gradient(to left, #1290cb, #0652dd);
        
        border: none;
    }
    
    .copyright3{
        font-size: 10px;
    }

    .copyright2{
        font-size: 10px;
    }

    .section .p1{
        display: block;
        width: 100%;
    }

    .section{
        max-width: 100%;
    }

    
}

@media (max-width: 1200px){

    .profile-pic img{
        height: 150px;
        width: 150px;
    }


    .burger{
        display: block;
        font-size: 10px;
        line-height: 20px;
        text-align: right;
    }

    .menu-btn{
        cursor: pointer;
    }

    .menu{
        width: 100%;
        text-align: center;
    }

    .close{
        display: none;
    }

    
    .contact-form{
        margin: 0 2%;
        padding: 20px 20px;
    }
}

@media(max-width: 800px){

    body {
        overflow-x: hidden;
    }

    .section {
        max-width: 100% !important;
        overflow-x: hidden !important;
        max-height: 100% !important;
    }


    img{
        max-width: NNNpx;
    }
   
    .profile-pic img{
        height: 15px;
        width: 15px;
    }

    .profile-pic {
        position: relative;
        right: 20px;
        bottom: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    #page1 h1 span{
        font-size: 40px;
        font-weight: bold;

    }

    .section .p1 {
        border-style: solid;
        max-width: 50%;
        position: relative;
        bottom: 30px;
        left: 350px;
        
    }
    
    .section .p1 p{
        color: black;
        padding: 0 30px;
        position: relative;
        bottom: 10px;
        font-size: 20px;
        line-height: 5pt;
        text-align: justify;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .section h1 {
        display: block;
        font-size: 30px;
        line-height: 70pt;
        position: relative;
        bottom: 200px;
        left: 20px;
        color: black;
        font-weight: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        white-space: nowrap;
        
    }

    .section .p1 p{
        font-size: 14px;
        line-height: 20px;
    }

    .theme {
        margin: 0;
        position: relative;
        top: 20px;
        right: 200px;
        
    }
    
    .theme h1{
        font-size: 20px;
        position: relative;
        left: -220px;
        top: 20px;
        
    }
    
    .theme p {
        text-align: center;
        font-size: 20px;
        position: relative;
        right: 200px;
    }

    .section .word3 { 
        position: relative;
        left: 400px;
        padding-top: 500px;
        padding-left: -50px;
        padding-right: 60px;  
    }
    
    .section .word3 h1{
        color: black;
        font-size: 20px;
        line-height: 50pt;
        position: relative;
        bottom: 350px;
    }
    
    .section .resume-link {
        position: relative;
        top: -100px;
        right: 250px;
    }
    
    .section .resume-link .btn-resume {
        
        background-color: #c0c0c0;
        color: black;
        font-size: 20px;
        
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        
        
    }

    .section .container .subtitle {
        position: relative;
        top: 50px;
        right: 100px;
        font-size: 20px;
    }

    .container .input-fields {
        position: relative;
        top: 10px;
        left: 50px;
        
    }
    
    
    .input-fields,
    .msg{
        position: relative;
        left: 50px;
        width: 100%;
        color: black;
    }
    
    .section .container .msg .btn {
        color: black;
        background-color: white;
        position: relative;
        bottom: 20px;
        left: 250px;
        font-size: 20px;
    }
    
    .input-fields .input,
    .msg textarea{
        margin: 30px 0;
        background: transparent;
        border: 0;
        border-bottom: 2px solid black;
        padding: 12px;
        color: black;
        width: 100%;
        font-weight: 500;
    }
}

